<div class="footer">
    <div class="footer-top">
        <div class="container p-0">
            <div class="row align-items-start">
                <div class="col-4">
                    <div class="footer-logo">
                        <img src="~/logo/logo_1_png.svg" class="footer-logo-col" />
                    </div>
                    <h2 class="footer-text">Công ty an toàn thực phẩm Hà nội</h2>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                <span>  Địa chỉ:</span> Số 5, ngõ 106 đường Hoàng Quốc Việt, Nghĩa Đô, Cầu Giấy, Hà Nội
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                <span>Email:</span> attp@gmail.com
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                <span>Hotline:</span> 0123456789
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 pt-15">
                    <h2 class="footer-text">Thông tin</h2>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Về chúng tôi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Chứng nhận
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Gia nhập ATTP
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Tin tức
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Liên hệ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 pt-15">
                    <h2 class="footer-text">sản phẩm</h2>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Tầm nhìn & Sứ mệnh
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Vì sao chọn chúng tôi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Chứng nhận
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Tin tức
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black ps-0" aria-current="page" href="#">
                                Gia nhập ATTP
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 pt-15">
                    <h2 class="footer-text">chính sách</h2>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Chính sách bảo mật
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Phương thức thanh toán
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Chứng nhận
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Chính sách bảo hành
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link footer-link text-black text-start ps-0" aria-current="page" href="#">
                                Chính sách đổi trả
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 pt-15">
                    <h2 class="footer-text">fanpage</h2>
                    <div class="footer-box"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="footer-icon d-flex">
                        <div class="footer-icon-arc">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="footer-icon-arc">
                            <i class="fa-brands fa-tiktok"></i>
                        </div>
                        <div class="footer-icon-arc">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="footer-icon-arc">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <form>
                        <label for="signupfor" class="form-label footer-label">đăng ký nhận bản tin</label>
                        <div class="mb-3 d-flex">
                            <input type="text" class="footer-signupfor" id="signupfor" placeholder="Nhập email...">
                            <button type="submit" class="send">Gửi</button>
                        </div>
                    </form>
                </div>
                <div class="col-4 d-flex align-items-center codeqr">
                    <img src="~/img/codeqr.svg" />
                    <div>
                        Quét mã QR để tải App ATTP
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="copyright">
    © An Toàn Thực phẩm 2023. All rights reserved
</div>