@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />

<div class="introduce">
    <div class="introduce-banner">
        <div class="container">
            <div class="position-absolute bottom-0">
                <h1 class="introduce-banner-title">Giới thiệu</h1>
                <nav style="--bs-breadcrumb-divider: '>'; ;" aria-label="breadcrumb">
                    <ol class="breadcrumb align-items-center">
                        <li class="breadcrumb-item">
                            <a href="#">
                                <img src="~/logo/logo_2.svg" />
                            </a>
                        </li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Giới thiệu</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="introduce-vison">
        <div class="container">
            <h1 class="introduce-title">công ty an toàn thực phẩm hà nội</h1>
            <p class="introduce-content">
                Công ty An Toàn Thực Phẩm Hà Nội là một doanh nghiệp hoạt động trong lĩnh vực kiểm soát chất lượng,
                an toàn và vệ sinh thực phẩm tại thành phố Hà Nội, Việt Nam. Công ty cung cấp dịch vụ kiểm tra, chẩn đoán,
                đánh giá và đảm bảo chất lượng an toàn thực phẩm cho các doanh nghiệp, cửa hàng, nhà hàng, nhà máy sản xuất
                và người tiêu dùng.
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card border-0">
                        <img src="~/vison/vison1.svg" class="card-img-top" />
                        <div class="card-body ps-0 pe-0">
                            <h5 class="card-title introduce-vison-title">Sứ mệnh</h5>
                            <p class="card-text introduce-vison-text">
                                Bảo vệ sức khỏe của người tiêu dùng: Đảm bảo rằng các thành phần trong thực phẩm không gây
                                hại cho sức khỏe của người tiêu dùng và  bệnh tật.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card border-0">
                        <img src="~/vison/vison2.svg" class="card-img-top" />
                        <div class="card-body ps-0 pe-0">
                            <h5 class="card-title introduce-vison-title">Sứ mệnh</h5>
                            <p class="card-text">
                                Bảo vệ sức khỏe của người tiêu dùng: Đảm bảo rằng các thành phần trong thực phẩm không gây
                                hại cho sức khỏe của người tiêu dùng và  bệnh tật.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card border-0">
                        <img src="~/vison/vison3.svg" class="card-img-top" />
                        <div class="card-body ps-0 pe-0">
                            <h5 class="card-title introduce-vison-title">Sứ mệnh</h5>
                            <p class="card-text introduce-vison-text">
                                Bảo vệ sức khỏe của người tiêu dùng: Đảm bảo rằng các thành phần trong thực phẩm không gây
                                hại cho sức khỏe của người tiêu dùng và  bệnh tật.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="home-btns">
                <a href="#" class="home-btn-links"> Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="introduce-leadership bgc">
        <div class="container">
            <h1 class="introduce-title text-start">ban lãnh đạo công ty</h1>
            <p class="introduce-content text-start">
                Với đội ngũ chuyên viên trình độ cao, chúng tôi tự tin rằng sẽ mang đến những dịch vụ tốt nhất cho khách hàng
            </p>
        </div>
        <div class="introduce-leader">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="introduce-general-manager">
                        <div class="introduce-general-manager-avatar">
                            <img src="~/leader/leader1.svg" />
                        </div>
                        <div class="introduce-general-manager-name">NGUYỄN ĐỨC TOẢN</div>
                        <div class="introduce-general-manager-position">Tổng giám đốc</div>
                        <div class="introduce-general-manager-see-more">
                            <a href="#" class="text-decoration-none">
                                Xem thêm <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="manager">
                        <div class="slider introduce-manager-wrapper border-0">
                            <div>
                                <div class="introduce-manager-leader position-relative">
                                    <div class="introduce-manager-leader-avatar">
                                        <img src="~/leader/leader2.svg" />
                                    </div>
                                    <div class="introduce-general-manager-name">TRẦN THỊ MỸ NGA</div>
                                    <div class="introduce-general-manager-position">Giám đốc tài chính</div>
                                    <a href="#" class="introduce-manager-leader-see-more text-white text-center text-decoration-none">
                                        Xem Thêm <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="introduce-manager-leader position-relative">
                                    <div class="introduce-manager-leader-avatar">
                                        <img src="~/leader/leader3.svg" />
                                    </div>
                                    <div class="introduce-general-manager-name">TẠ MỸ HẠNH</div>
                                    <div class="introduce-general-manager-position">Giám đốc điều hành</div>
                                    <a href="#" class="introduce-manager-leader-see-more text-white text-center text-decoration-none">
                                        Xem Thêm <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="introduce-manager-leader position-relative">
                                    <div class="introduce-manager-leader-avatar">
                                        <img src="~/leader/leader4.svg" />
                                    </div>
                                    <div class="introduce-general-manager-name">NGUYỄN ĐỨC PHƯƠNG </div>
                                    <div class="introduce-general-manager-position">Phó Giám Đốc</div>
                                    <a href="#" class="introduce-manager-leader-see-more text-white text-center text-decoration-none">
                                        Xem Thêm <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="introduce-manager-leader position-relative">
                                    <div class="introduce-manager-leader-avatar">
                                        <img src="~/leader/leader4.svg" />
                                    </div>
                                    <div class="introduce-general-manager-name">NGUYỄN ĐỨC PHƯƠNG </div>
                                    <div class="introduce-general-manager-position">Phó Giám Đốc</div>
                                    <a href="#" class="introduce-manager-leader-see-more text-white text-center text-decoration-none">
                                        Xem Thêm <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-about">
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <div class="accordion-container">
                        <h2 class="accordion-container-title">vì sao chọn chúng tôi?</h2>
                        <div class="set">
                            <a class="text-decoration-none">
                                <i class="fa fa-plus home-about-icon"></i>
                                Chất lượng sản phẩm luôn được ưu tiên hàng đầu
                            </a>
                            <div class="content">
                                <p>
                                    Trước khi đến được tay người tiêu dùng, các sản phẩm đã phải trải qua hàng loạt những quy trình kiểm định và xét nghiệm khắt khe. Ngoài ra chúng tôi cũng có giấy xét nghiệm hàm lượng dinh dưỡng cho từng đầu mục sản phẩm.
                                </p>
                            </div>
                        </div>
                        <div class="set">
                            <a class="text-decoration-none">
                                <i class="fa fa-plus home-about-icon"></i>
                                Đội ngũ giáo sư, tiến sỹ, y bác sỹ đầu ngành
                            </a>
                            <div class="content">
                                <p>
                                    Trước khi đến được tay người tiêu dùng, các sản phẩm đã phải trải qua hàng loạt những quy trình kiểm định và xét nghiệm khắt khe. Ngoài ra chúng tôi cũng có giấy xét nghiệm hàm lượng dinh dưỡng cho từng đầu mục sản phẩm.
                                </p>
                            </div>
                        </div>
                        <div class="set">
                            <a class="text-decoration-none">
                                <i class="fa fa-plus home-about-icon"></i>
                                Bảo vệ môi trường
                            </a>
                            <div class="content">
                                <p>
                                    Trước khi đến được tay người tiêu dùng, các sản phẩm đã phải trải qua hàng loạt những quy trình kiểm định và xét nghiệm khắt khe. Ngoài ra chúng tôi cũng có giấy xét nghiệm hàm lượng dinh dưỡng cho từng đầu mục sản phẩm.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="home-about-photo">
                        <img src="~/img/other2.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="introduce-join-us bgc">
        <div class="container">
            <div class="row">
            </div>
            <h1 class="introduce-title text-center">
                gia nhập với chúng tôi
            </h1>
            <div class="container">
                <div class="row">
                    <div class="col-6 pe-0">
                        <div class="slider introduce-join-us-slider border-0 w-100">
                            <div>
                                <div class="introduce-join-us-main">
                                    <img src="~/joinus/joinus1.svg" />
                                </div>
                            </div>
                            <div>
                                <div class="introduce-join-us-main">
                                    <img src="~/joinus/joinus1.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-0">
                        <div class="introduce-join-us-video">
                            <img src="~/joinus/joinus2.svg" />
                        </div>
                        <div class="introduce-join-us-thumb d-flex justify-content-between">
                            <img src="~/joinus/joinus3.svg" />
                            <img src="~/joinus/joinus4.svg" />
                            <img src="~/joinus/joinus6.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="introduce-partner">
        <div class="container">
            <div class="row">
                <h1 class="introduce-title text-center text-white pb-33">
                    gia nhập với chúng tôi
                </h1>
                <div class="d-flex justify-content-between">
                    <img src="~/partner/partner1.svg" />
                    <img src="~/partner/partner2.svg" />
                    <img src="~/partner/partner3.svg" />
                    <img src="~/partner/partner4.svg" />
                    <img src="~/partner/partner5.svg" />
                    <img src="~/partner/partner6.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="introduce-customers">
        <div class="container">
            <div class="row">
                <h1 class="introduce-title text-center pb-33">
                    khách hàng nói về chúng tôi
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="slidercontainer">
                    <div class="slider introduce-customers-wrapper border-0 w-100 justify-content-between">
                        <div>
                            <div class="introduce-customers-leader position-relative">
                                <p class="introduce-customers-leader-text">
                                    Chúng tôi thực sự rất hài lòng về chất lượng dịch vụ của An Toàn Thực Phẩm luôn đáp ứng
                                    được mọi nhu cầu của chúng tôi kể cả những yêu cầu phức tạp và đòi hỏi kỹ thuật cao.
                                </p>
                                <div class="introduce-customers-leader-info d-flex align-items-center">
                                    <div class="introduce-customers-leader-info-avatar">
                                        <img src="~/customs/custom1.svg" />
                                    </div>
                                    <div class="introduce-customers-leader-info-name-user">
                                        <h5 class="introduce-customers-leader-info-name">Nguyễn Văn A</h5>
                                        <p class="introduce-customers-leader-info-user">Khách hàng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="introduce-customers-leader position-relative">
                                <p class="introduce-customers-leader-text">
                                    Chúng tôi thực sự rất hài lòng về chất lượng dịch vụ của An Toàn Thực Phẩm luôn đáp ứng
                                    được mọi nhu cầu của chúng tôi kể cả những yêu cầu phức tạp và đòi hỏi kỹ thuật cao.
                                </p>
                                <div class="introduce-customers-leader-info d-flex align-items-center">
                                    <div class="introduce-customers-leader-info-avatar">
                                        <img src="~/customs/custom3.svg" />
                                    </div>
                                    <div class="introduce-customers-leader-info-name-user">
                                        <h5 class="introduce-customers-leader-info-name">Nguyễn Văn A</h5>
                                        <p class="introduce-customers-leader-info-user">Khách hàng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="introduce-customers-leader position-relative">
                                <p class="introduce-customers-leader-text">
                                    Chúng tôi thực sự rất hài lòng về chất lượng dịch vụ của An Toàn Thực Phẩm luôn đáp ứng
                                    được mọi nhu cầu của chúng tôi kể cả những yêu cầu phức tạp và đòi hỏi kỹ thuật cao.
                                </p>
                                <div class="introduce-customers-leader-info d-flex align-items-center">
                                    <div class="introduce-customers-leader-info-avatar">
                                        <img src="~/customs/custom4.svg" />
                                    </div>
                                    <div class="introduce-customers-leader-info-name-user">
                                        <h5 class="introduce-customers-leader-info-name">Nguyễn Văn A</h5>
                                        <p class="introduce-customers-leader-info-user">Khách hàng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="introduce-customers-leader position-relative">
                                <p class="introduce-customers-leader-text">
                                    Chúng tôi thực sự rất hài lòng về chất lượng dịch vụ của An Toàn Thực Phẩm luôn đáp ứng
                                    được mọi nhu cầu của chúng tôi kể cả những yêu cầu phức tạp và đòi hỏi kỹ thuật cao.
                                </p>
                                <div class="introduce-customers-leader-info d-flex align-items-center">
                                    <div class="introduce-customers-leader-info-avatar">
                                        <img src="~/customs/custom1.svg" />
                                    </div>
                                    <div class="introduce-customers-leader-info-name-user">
                                        <h5 class="introduce-customers-leader-info-name">Nguyễn Văn A</h5>
                                        <p class="introduce-customers-leader-info-user">Khách hàng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="~/js/accordion.js"></script>
<script src="~/js/home.js"></script>