.product-details {
    &-banner {
        background-image: url('../banner/banner_4.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 393px;
        position: relative;
    }

    &-content {
        padding: 50px 0;
    }

    &-details-show {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-title {
        color: #000;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &-price {
        border-radius: 5px;
        background: #FAFAFA;
        padding: 12px 25px;
    }

    &-sale {
        color: #D20D00;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &-describe {
        color: #27272A;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-top: 25px;
    }

    &-from-group {
        border: 1px solid #E3E3E3;
    }

    &-from-quantity {
        color: #27272A;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        padding-left: 9px;
    }

    &-from-group-btn {
        display: flex;
        gap: 15px;
        margin-top: 20px;
    }

    &-texte {
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-share {
        margin-top: 25px;
    }

    &-page {
        width: 157px;
    }

    &-page-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-evaluate-title {
        color: #007740;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    &-evaluate-star-top-text {
        color: #27272A;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-right: 25px;
    }

    &-evaluate-star-top-comment-st {
        width: 20px;
        height: 20px;
    }

    &-evaluate-star-top-comment-numbers {
        color: #7E7E7E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-evaluate-star-top-progress-evs {
        width: 11px;
        height: 11px;
    }

    &-evaluate-star-top-progress-percent {
        color: #7E7E7E;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-evaluate-star-top-progress-bar {
        background: #7E7E7E;
    }

    &-evaluate-star-top-progress {
        gap: 21px;
    }

    &-evaluate-photo-text {
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.8px;
    }

    &-evaluate-photo-cmt-box-number {
        position: absolute;
        background: #00000052;
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
    }

    &-evaluate-photo-filter {
        color: #000;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.7px;
    }

    &-btn-cmt {
        color: #000;
        padding: 10px 12px;
        border-radius: 54px;
        background: #F7F6F8;
        border: none;
        outline: none;
    }

    &-evaluate-photo-select {
        display: flex;
        gap: 14px;
    }

    &-evaluate-photo-receive-user-avatar-photo {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    &-evaluate-photo-receive-user-info {
        gap: 21px;
    }

    &-evaluate-photo-receive-user-avatar-name {
        color: #27272A;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.7px;
    }

    &-evaluate-photo-receive-user-avatar-join {
        color: #7E7E7E;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.6px;
    }

    &-evaluate-photo-receive-reviews-star-subtract {
        color: #007740;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-evaluate-photo-receive-reviews-text-p {
        color: #4E4E4E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding-top: 20px;
    }

    &-evaluate-photo-receive-reviews-img {
        display: flex;
        gap: 31px;
    }

    &-evaluate-photo-receive-reviews-time {
        color: #7E7E7E;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 11px 0;
    }

    &-evaluate-photo-receive-reviews-btn-link {
        width: 137px;
        height: 38px;
        background: transparent;
        color: #007740;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border: none;
        outline: none;
    }

    &-evaluate-photo-receive-reviews-admin-cmt {
        padding-top: 25px;
        gap: 20px;
    }

    &-evaluate-photo-receive-reviews-admin-cmt-text-info {
        gap: 8px;
    }

    &-evaluate-photo-receive-reviews-admin-cmt-time {
        color: #808089;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.6px;
    }

    &-evaluate-photo-receive-reviews-admin-avatar {
        margin-top: 10px;
    }

    &-evaluate-photo-receive-reviews-admin-cmt-text {
        border-radius: 10px;
        border: 1px solid #E8E9ED;
        background: #FAFAFA;
        padding: 12px;
    }

    &-evaluate-photo-receive-reviews-see-more {
        padding-top: 15px;
        gap: 15px;
    }
}

.active-btn {
    color: #007740;
    border: 0.7px solid #007740;
    background: rgba(0, 119, 64, 0.10);
}
.active-btns {
    border-radius: 5px;
    border: 0.7px solid #007740;
}
.box-btn {
    margin-top: 45px;
    margin-bottom: 30px;
    gap: 20px;
}

.progress.progress-bars {
    width: 132px;
    height: 7px;
}

.box-img {
    gap: 27px;
}

input#decrement {
    width: 26px;
    border: none;
    outline: none;
    background: transparent;
}

input#quantity {
    border: none;
    outline: none;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    width: 35px;
    text-align: center;
}

input#increment {
    width: 30px;
    border: none;
    outline: none;
    background: transparent;
}

.product-details-cost del {
    color: #ababab;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-details-cost span {
    color: #D20D00;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button.product-details-btn {
    width: 250px;
    height: 45px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    border-radius: 5px;
}

.buy {
    background: #007740;
}

.addcart {
    border: 1px solid #007740 !important;
    color: #007740 !important;
    background: transparent;
}

.slider-container {
    display: flex;
}

form.product-details-from-number {
    margin-top: 30px;
}

.slider {
    width: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.slide {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-size: 24px;
}

.slider-single {
    padding: 0;
    margin: 0 auto;
    width: 469px;
    height: 470px;
}

.slick-prev:before, .slick-next:before {
    color: #007740 !important;
    font-size: 25px !important;
}

button.slick-next.slick-arrow {
    right: 6px;
}

button.slick-prev.slick-arrow {
    left: 0;
    z-index: 99;
}

img.product-details-show {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.slick-dots {
    bottom: 0;
}

.slick-dots li button:before {
    font-size: 15px !important;
}

.slick-dots li.slick-active button:before {
    color: #007740 !important;
}

.slick-dots li button:before {
    color: #007740 !important;
    opacity: .5;
}

label.label-number {
    color: #27272A;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 12px;
}


.tabs {
    display: flex;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid #E8E9ED;
    padding: 0;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #007740;
    transition: all 0.2s ease;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-item.active {
    color: #007740;
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}
